@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
@import 'react-tooltip/dist/react-tooltip.css';

*,
*::after,
*::before {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html,
body {
  background-color: black;
  color: white;
  font-family: 'Roboto', Arial, Helvetica, sans-serif;
  font-size: 18px;
  line-height: 1.6;
  margin: 0 auto;
  overflow-x: hidden; /* disable horizontal scroll */
}

a {
  color: #6db0fc;
  cursor: pointer;
  text-decoration: none;
}

button {
  background-color: black;
  border: 1px solid #6db0fc;
  border-radius: 0.4rem;
  color: #6db0fc;
  cursor: pointer;
  display: inline-block;
  padding: 4px 8px;
  text-decoration: none;
}

img {
  max-width: 100%;
  display: block;
}

ul {
  list-style-type: none;
}
